.container {
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  padding-top: 1%;

  .list {
    padding: 2%;
    overflow-y: scroll;
    width: 80vw;
    height: 60%;
  }

  .attraction {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #b5bbba64;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    margin: 1%;

    &__about {
      &--name {
        font-size: 22px;
        font-weight: bolder;
        margin: 2% 0 !important;
      }

      &--description {
        margin: 0;
        font-size: 18px;
        font-weight: lighter;
      }

      &--info {
        color: #5AC0AB;
        margin: 3% 0 !important;
        font-weight: lighter;
        cursor: pointer;
      }

      p {
        margin: 0;
      }
    }

    &__check {
        transform: scale(1.3);
    }
  }
}
