.data {
    width: 99vw;
    // height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__formfield {
        margin: 16px;
        width: 50%;
        align-items: center;
    }

    mat-button-toggle {
        width: 100%;
    }
}