.container {
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  padding-top: 1%;

  .list {
    padding: 2%;
    overflow-y: scroll; 
    width: 80vw;
    height: 70%;
  }

  .hotel {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    border: 1px solid #b5bbba64;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    margin: 1%;


    &__about {
      display: flex;
      width: 100%;

      img {
        // padding: 0;
        width: 196px;
      border-radius:  10px 0 0 10px;
        height: auto;
      }

      div {
        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-left: 1%;

        p {
          font-size: 18px;
          font-weight: bold;
          width: 100%;
          margin: 2%;
        }
      }
    }

    &__details {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 2%;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 8vw;

        p {
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          //   width: 100%;
          margin: 2%;
        }
      }
      &--check {
        transform: scale(1.2);
      }
    }
  }
}
