<form [formGroup]="dataForm" class="data">
  <h2 class="data__title">Opowiedz o swoich planach:</h2>
  <mat-form-field class="data__formfield">
    <mat-label>Jade z:</mat-label>
    <input type="text" matInput [matAutocomplete]="auto" formControlName="from">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

   <mat-form-field class="data__formfield">
    <mat-label>Jade do:</mat-label>
    <input type="text" value="{{dataForm.value.destination}}" matInput type="text" [matAutocomplete]="auto" formControlName="destination">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="data__formfield" appearance="fill">
    <mat-label>Budget</mat-label>
    <input matInput type="number" formControlName="budget">
  </mat-form-field>
    <mat-form-field appearance="fill" class="data__formfield">
    <mat-label>Liczba Uczestników</mat-label>
    <input matInput type="number" formControlName="participants">
  </mat-form-field>

 <mat-form-field class="data__formfield">
  <mat-label>Data</mat-label>
  <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
    <input matStartDate formControlName="dateStart" placeholder="Od dnia">
    <input matEndDate formControlName="dateEnd" placeholder="Do dnia">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  @if (dateRange.controls.dateStart.hasError('matStartDateInvalid')) {
    <mat-error>Invalid start date</mat-error>
  }
  @if (dateRange.controls.dateEnd.hasError('matEndDateInvalid')) {
    <mat-error>Invalid end date</mat-error>
  }
</mat-form-field>
<mat-button-toggle-group appearance="legacy" [hideSingleSelectionIndicator]="true" class="data__formfield" formControlName="transport">
  <mat-button-toggle value="bus"><mat-icon>directions_bus</mat-icon></mat-button-toggle>
  <mat-button-toggle value="flight"><mat-icon>flight</mat-icon></mat-button-toggle>
  <mat-button-toggle value="train"><mat-icon>train</mat-icon></mat-button-toggle>
    <mat-button-toggle value="car"><mat-icon>directions_car</mat-icon></mat-button-toggle>
</mat-button-toggle-group>

</form>
