<div class="footer">
  <div class="footer__logo">
    <img src="images/Logos/Tourvana-White.png">
    <p>© 2025 Tourvana. Wszystkie prawa zastrzeżone</p>
  </div>
  <div class="footer__links">
    <div>
        <h2>Company</h2>
        <a>About</a>
        <a>Features</a>
        <a>Pricing</a>
    </div>
    <div>
        <h2>Support</h2>
        <a>Help Center</a>
        <a>Terms of service</a>
        <a>Polityka Prywatności</a>
    </div>
  </div>
  <div class="footer__socials">
    <h2>Stay Connected</h2>
    <div>
        <a><img src="images/Socials/facebook.png" alt="fb"></a>
        <a><img src="images/Socials/instagram.png" alt="fb"></a>
        <a><img src="images/Socials/twitter.png" alt="fb"></a>
    </div>
  </div>
</div>
