.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;

  .search {
    width: 80%;
    margin: 2% 0;

    mat-form-field {
      width: 100%;
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2%;

    .article:nth-of-type(even) {
      margin-top: 5%;
    }

    .article {
      display: flex;
      flex-direction: column;
      width: 80%;
        min-height: 90%;
      border-radius: 10px;


      &__img {
        width: 100%;
        height: 80%;
        border-radius: 10px 10px 0px 0;
      }

      &__title {
        position: relative;
        width: 100%;
        bottom: 7%;
        left: 1%;
        color: #fff;
        font-size: 20px;
        margin: 0;
      }

      &__desc {
        font-weight: 100;
        font-size: 14px;
        margin: 0;
      }
      .link {
        color: #5ac0ab;
        text-align: right;
      }
    }
  }
}
