.stepper {
  display: flex;
  justify-content: center;
  width: 100vw;

  &__step {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--options {
      position: absolute;
      bottom: 1%;
      display: flex;
      width: 90%;
      flex-direction: column;
      align-items: center;
      button {
        width: 80%;
        margin: 2%;
      }
    }
  }

}

@media (min-width: 1280px) {
  .stepper {

    &__step {
      &--options {
        width: 10%;
        position: absolute;
        right: 2%;
        bottom: 5%;
      }
    }
  }

}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-self: center;
  width: 60vw;

  .mat-step-header {
    background-color: #5ac0ab;
    border-radius: 10px;
  }

  mat-icon {
    color: #fff;
  }

  .mat-step-icon {
    scale: 1.2;
    background-color: #5ac0ab;
  }


  .mat-step-label-selected {
    color: #fff;
  }

  .mat-step-header[aria-selected="true"]~* {
    background-color: transparent !important;
  }

  @media (max-width: 1280px) {
    display: none;
  }
}
